body { padding: 15px 20px 20px 20px;margin: 0;font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; background-image:url('../img/star.png');background-repeat:repeat;}
table{border:3px #000007 solid; padding:1px;}
#divZiWei,#main,.StarA,.StarB,.StarC,.MangA,.MangB,.MangC,.MangY10,.MangY1,.maincopy{position:absolute;}
#container{position:relative;}
#menu{position:absolute;top:0;right:0;display:none;}
#queryDiv{ margin:-3px 0 8px 0;}
#queryDiv b{font-size:24px;margin-right:25px;}
#queryDiv input[type=button],select,input[type=radio]:first-of-type{margin-left:15px;}
#sel_Launar{display:none;}
#sel_Solar{background-color:#CCFFCC;border: 3px solid #CCFFCC;margin:5px 0 10px 0;}
.mainDiv,.mainDivCenter{background-image:url('../img/star_empty.png');background-repeat:repeat;}
.mainDiv{border:1px solid #B7B7B7;margin:1px;width:150px;height:150px;position:relative;font-size:12px;}
.mainDivSel,.mainDiv:hover {border:dashed 2pt red;margin:0px;}
.mainDivCenter{position:relative;border:1px solid #B7B7B7;margin:1px;width:308px;height:308px;font-weight: bold;}
.mainDivCenter div{text-align:left;margin:10px;}
.mainDivCenter .maincopy{bottom:0;right:0;font-size:12px;font-weight: normal;}
.starDiv{border:0px solid blue;margin:5px;}
.StarA{text-align: right;top:0;color:blue;}
.StarA span{color:Fuchsia;}
.Star4{margin-top:8px;}
.Star4 b{color:#8000FF;font-weight:normal;}
.StarB{color:Red;top:0;}
.StarC{text-align: right;top:75px;right:0;width:150px;}
.StarAll{display:none;}
.MangA{bottom:0;left:0;}
.MangB{width:150px;text-align: center;font-weight:bold;bottom:0;right:5px;}
.MangC{bottom:0;right:0;color:blue;}
.MangY10{text-align: center;width:150px;height:20px;bottom:40px;right:5px;color:purple;}
.MangY1{text-align: center;width:130px;height:20px;bottom:20px;right:5px;color:navy;}
.zwStarRight{right:0;}
.zwStarLeft{left:0;}
